*.swp
*.html
doc
lib
TODO
target/
*.orig
*.swo
site/
*.rkyv
render_graph.dot
projects/
blast-results/
db-data/

.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
.idea/
.run/

tmp/*
!tmp/.gitkeep
.history
crates/hub_bindings/src/main.rs
crates/hub_ui/node_modules
node_modules

packaging/*.msi
packaging/*.wixpdb
packaging/*.wixobj
packaging/installer-generated.wxs

/preferences.json
/launch.json
.dev-env/config
.dev-env/data
updates
logs

updatecli/values.local.yaml